* {
  box-sizing: border-box;
}
.parent {
  display: flex;
  width: 100%;
}
.img-signin {
  width: 50%;
  display: flex;
}

.container-signin {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.form-container-parent {
  display: flex;
  justify-content: center;
}
.form-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;

  justify-content: center;
  padding: 36px;
  gap: 38px;
  border-radius: 10px;
  border: 0.5px solid #878787;
  background: #fff;
  box-shadow: 0px 4px 64px 0px rgba(0, 0, 0, 0.05);
}
.sign-title {
  /* padding: 30px 40px; */
  /* margin: 30px 40px; */
  padding-left: 30px;
  color: #8a2be2;
}
.email-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.pass-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.btn-siginin {
  width: 423px;
  height: 57px;
  flex-shrink: 0;
  border-radius: 6px;
  background: blueviolet;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bolder;
  border: 0px;
  cursor: pointer;
}
.inputClass {
  width: 423px;
  height: 59px;
  flex-shrink: 0;
}
.typography {
  color: black;
  /* font-family: Poppins; */
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 8px;
}
.forgotClass {
  display: flex;
  justify-content: space-between;
}

.account {
  color: #7d7d7d;

  /* font-family: Poppins; */
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.register {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.register:hover {
  color: blueviolet;

  transition: transform 0.3s;
}
.account-register {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
}
.sign-in-text {
  color: #000;

  font-size: 31px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.welcome-text {
  color: #000;

  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.error-message {
  color: red;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
}

.candidate_dashboard__bar-chart {
  width: 70vw;
  height: 75vh;
}
