.courses-container {
  width: 100%;
  /* height: 559px; */
  /* flex-shrink: 0; */
  /* display: flex; */
  height: 100%;
  /* border: 1px solid black; */

  border-radius: 12px;
  box-shadow: 0px 20px 27px 0px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  padding: 24px;
  margin-top: 24px;
  /* position: fixed; */
  /* position: relative; */
}
.caption-container {
  display: flex;
  /* background-color: red; */
  position: absolute;
  right: 0px;

  /* justify-content: flex-end; */
}
.add-course-btn {
  /* width: 72px; */
  /* height: 42px; */

  border-radius: 6px;
  background: blueviolet;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  /* font-weight: bolder; */
  border: 0px;
  cursor: pointer;
  padding: 8px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4px;
}
.table-caption {
  color: #141414;

  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.553px;
  text-align: left;
}
.table-head-typo {
  color: #8392ab;
  padding: 28px 0px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.387px;
  text-transform: uppercase;
}
.course-typo {
  color: #141414;

  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.443px;
}
.status-typo {
  color: #fff;

  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.332px;
}
.date-typo {
  color: #252f40;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.387px;
}
.edit-typo {
  color: #8392ab;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.387px;
  text-transform: capitalize;
}

.table,
td,
th {
  /* border: 1px solid black; */
}

td {
  text-align: center;
  border-top: 1px solid var(--bs-table-border-color);
  padding: 8px 0px;
}
.add-view-icon {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.online {
  border-radius: 8px;
  background: linear-gradient(135deg, #98ec2d 0%, #17ad37 100%);
}
.offline {
  border-radius: 8px;
  background: linear-gradient(135deg, #a8b8d8 0%, #627594 100%);
}
.p-4-12 {
  padding: 4px 12px;
}
caption {
  padding: 24px 0px;
}
.text-align-left {
  text-align: left;
}

/* add course modal start */
.add-modal-parent {
  display: flex;
  flex-direction: column;
  gap: 100px;
  width: 600px;
  box-shadow: 0px 20px 27px 0px rgba(0, 0, 0, 0.1);
  height: 400px;
  overflow: scroll;
  background: white;
  padding: 48px 48px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
.view-modal-parent {
  display: flex;
  flex-direction: column;

  gap: 100px;
  width: 600px;
  box-shadow: 0px 20px 27px 0px rgba(0, 0, 0, 0.1);
  height: 600px;
  overflow: scroll;
  background: white;
  padding: 48px 48px;
  border-radius: 10px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
.add-left-part {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.mk-qts {
  border: none;
  font-size: 12pt;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.175px;
  outline: none;
  padding: 16px;
  background-color: rgb(248, 249, 250);
  /* margin-top: 24px; */
}

.mk-ans {
  border: none;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.175px;
  outline: none;
  padding: 0.125em 0;
  margin-top: 24px;
  font-size: 14px;
  width: 150px;
  border-bottom: 1px dotted black;
}

.radio-input-part {
  border: none;
  width: 100%;
  height: 32px;
  font-size: 12pt;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.175px;
  outline: none;
  margin-right: 10px;
  /* padding: 2px 0px; */
  border-bottom: 1px solid black;
  display: flex;
}
.add-option-container {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-top: 24px;
}

input[type="radio"] {
  border: 0px;
  width: 18px;
  height: 18px;
}

.option-btn {
  border: none;
  background-color: none;
  color: #1a73e8;
  width: 80px;
  height: 36px;
  cursor: pointer;
  display: flex;
  align-self: center;
}
.submit-btn {
  width: 66px;
  height: 34px;
  border-radius: 4px;
  background: #2669ff;
  border: none;
  color: white;
  cursor: pointer;
}
.submit-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 36px;
}
.select-label-typography {
  color: blueviolet;

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 130% */
  letter-spacing: 0.03px;
  /* white-space: nowrap; */
}
.qts-select {
  margin-top: 24px;
  border-radius: 4px;
  padding: 8px 48px;
  border: solid rgb(237, 238, 240);
}

.hidden {
  display: none;
  /* background-color: red; */
}

.add-modal-parent-blur {
  width: 100vw;
  height: 100vh;
  filter: blur(5px);
}

.course-blur {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 990;
  background-color: black;
  opacity: 0.6;
  /* filter: blur(5px); */
}
.row {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.column {
  display: flex;
  flex-direction: column;
}

.Choose-a-type {
  gap: 100px;
}

/* Quiz list css */
.quizList-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: scroll;
}
.quizlist-name {
  display: flex;
  justify-content: space-between;
}
.quizlist-shortpart {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.quizlist-mcqspart {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.option-part {
  display: flex;
  gap: 5px;
}
/* Add Course Modal start */
.modal-content {
  width: 500px;
  height: 530px;
  display: flex;
  flex-direction: column;

  background-color: white;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  z-index: 999;
  padding: 16px 48px;
  border-radius: 10px;
  box-shadow: 0px 20px 27px 0px rgba(0, 0, 0, 0.1);
}

.add_new_course_typo {
  color: blueviolet;

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 130% */
  letter-spacing: 0.03px;
  text-align: left;
  display: flex;
}
.add_course_input,
.add_course_input:focus-visible {
  border: none;

  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.175px;
  outline: none;
  padding-top: 16px;
}
.add_course_input::placeholder {
  color: #9492a0;

  /* Button  */

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.175px;
}
.add_course_btn_container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding-top: 24px;
}
.save_course_btn {
  width: 66px;
  height: 34px;
  border-radius: 4px;
  background: #2669ff;
  border: none;
  color: white;
  cursor: pointer;
  padding: 2px;
}
.cancel_course_btn {
  width: 66px;
  height: 34px;
  border-radius: 4px;
  background: #383748;
  color: #9492a0;
  border: none;
  cursor: pointer;
}
.modal-close {
  display: none;
}
.modal-open {
  display: block;
}
.uploadContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.CourseNameUploadParent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.uploadTypo {
  color: blueviolet;
}
