.saveCrop {
  position: absolute;
  top: 50%;
  left: 50%;
}
.cropContainer {
  position: relative;
  width: 100%;
  height: 200px;
}
.controlBtn {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
.img-cropped {
  width: 266px;
  height: 150px;
}
.cropperBtn {
  width: 66px;
  height: 34px;
  border-radius: 4px;
  background: #2669ff;
  border: none;
  color: white;
  cursor: pointer;
  padding: 2px;
}
.cancelCropperBtn {
  width: 66px;
  height: 34px;
  border-radius: 4px;
  background: #383748;
  color: #9492a0;
  border: none;
  cursor: pointer;
}
.cropperBtnContainer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.hahaha {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
