.admin-container {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  letter-spacing: -0.025rem;
  cursor: pointer;
  padding: 10px;
}

.click1 {
  font-weight: 600;
  box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  background-color: #fff;
}
.icon-container {
  width: 36px;
  height: 36px;
  /* background-color: #cb0c9f; */
  background-color: white;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  /* padding: 4px; */
  display: flex;
  align-items: center;
  box-shadow: 0 0.3125rem 0.625rem 0 rgba(0, 0, 0, 0.12) !important;
}

.rmv-li {
  list-style-type: none;
}
.titleName {
  border: none;
  /* background-color: white; */
  color: #67748e;

  font-family: OpenSans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.387px;
}
.click {
  background-color: blueviolet; /* Set the background color when clicked */
}
